.button {
    background-color: purple;
    color: white;
    border: 1px solid purple;
    padding: 0.3rem 1rem;
    cursor: pointer;
}

.button:hover,
.button:active {
  background-color: darkmagenta;
  border-color: darkmagenta;
}
