.button {
  font: inherit;
  color: white;
  background-color: purple;
  border: 1px solid purple;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: darkmagenta;
  border-color: darkmagenta;
}

.button:focus {
  outline: none;
}
