.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  z-index: 2;
  top: 15vh;
  left: 2.5%;
  width: 95%;
  padding: 0;
  overflow: hidden;
}

.modal .header {
  padding: 1rem;
  background-color: darkmagenta;
}

.modal .header h2 {
  margin: 0;
  color: white;
}

.modal .content {
  padding: 1rem 1rem 0 1rem;
}

.modal .controls {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 680px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
